* {
  box-sizing: border-box;
}
.homecard {
  background-color: aqua;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.cardsParent {
  background-color: beige;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-content: center;
  padding: 20px;
}

.button {
  background-color: #333;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;

}

.button:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: translateY(0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}


